<div class="col-12">
	<div class="d-flex align-items-center justify-content-between mb-4">
		<% if device == 'mobile' %>
			<span class="h3 mb-0 d-flex flex-column" >[Patient Session] </span>
		<% else %>
			<h1 class="h3 mb-0 text-gray-800"> [Session] <%= link_to @patient.full_name, patient_path(@patient) %> > <%= link_to @session.patient_package.package.name, patient_package_show_path(@patient, @session.patient_package) %> > <%= @session&.date %> </h1>
		<% end %>

		<%= link_to t('sessions.back'), patient_package_show_path(@patient, @session.patient_package) %>
	</div>

	<div class="row justify-content-between">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12col- pr-2 pl-2">
			<%= render 'patient_session_data', patient: @patient, session: @session, title: "Session" %>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4 col- pr-2 pl-2">
			<%= render 'diagnoses_partial', indicators: @indicatorsImc, diagnosis: @diagnosisImc, title: "IMC" %>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4 col- pr-2 pl-2">
			<%= render 'diagnoses_partial', indicators: @indicatorsDpc, diagnosis: @diagnosisDpc, title: "PDC" %>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4 col- pr-2 pl-2">
			<%= render 'diagnoses_partial', indicators: @indicatorsIcc, diagnosis: @diagnosisIcc, title: "ICC" %>
		</div>

		<div class="col-sm-12 col-md-12">
			<%= render 'comparative_table', patient: @patient, session: @session, title: "Comparative table" %>
		</div>
	</div>
</div>