<header>
  <nav class="navbar navbar-expand navbar-light topbar static-top shadow bg-secondary-200 text-white-01">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>

    <div>
      <a href="" target="" data-toggle="modal" data-target="#editDolarPriceModal" class="text-primary-500">
        <strong class="ml-3"> <%= gbl_configuration.target_currency_code %>:</strong>
        <span id="target_conversion">
          <%= gbl_configuration.target_conversion %>
        </span>
      </a>
    </div>

    <ul class="navbar-nav ml-auto">
      <div id="partial_notifications">
        <%= render TopBar::NotificationsComponent.new(current_user:) %>
      </div>
      <div id="partial_messages">
        <%= render TopBar::EmailsComponent.new %>
      </div>

      <div class="topbar-divider d-none d-sm-block"></div>

      <%= render TopBar::UserNavComponent.new(current_user:) %>
    </ul>
  </nav>
  <%= render Forms::ModalComponent.new(
    id_modal: 'editDolarPriceModal',
    title: 'Edit Dolar Price',
    primary_actions: {
      name: 'Update',
      action: 'update_dolar_function()',
    }
  ) do %>
    <%= render Forms::CustomFormComponent.new(
        scope_instance: @gbl_configuration,
        url: patch_update_dolar_price_path(@gbl_configuration),
        data_type: { type: :json },
        html_options: {
          id:"edit_price_dolar_form",
          class: 'mx-4 h-auto'
        },
        fields: [
          { name: 'target_conversion', label: 'Dolar Price' }
        ]
    ) %>
  <% end %>
</header>

<!-- functions for modal -->
<script>
  function update_dolar_function() {
    let dataToSubmit = $("#edit_price_dolar_form").serialize();
    console.log('dataToSubmit', dataToSubmit);
    $.ajax({
     url: $("#edit_price_dolar_form").attr('action'),
     type: "PATCH",
     data: dataToSubmit,
     // contentType: "application/json; charset=utf-8",
     dataType: "script",
     success: function(data) {
      customCloseModal('editDolarPriceModal');
     },
     error: function(err) {
       console.log('err', err);
     }
    })
  }
</script>
