<li class="nav-item dropdown no-arrow mx-1">
  <a href="#" class="nav-link dropdown-toggle" id="messagesDropdown" 
    role="button" data-toggle="dropdown" aria-haspopup="true" 
    aria-expanded="false">
    <i class="fas fa-envelope fa-fw"></i>

    <!-- Counter - Messages -->
    <span class="badge badge-danger badge-counter <%= 'd-none' if emails.blank? %>" id="notification-counter">
      <%= emails&.size %>+
    </span>
  </a>

  <!-- Dropdown - Messages -->
  <div aria-labelledby="messagesDropdown"
    class="dropdown-list dropdown-menu dropdown-menu-right
           shadow animated--grow-in">

    <h6 class="dropdown-header">
      Message Center
    </h6>

  <div id="emails-container" class="h-300px overflow-hidden">
     <div class="h-100 overflow-y-scroll">
      <% emails&.each do | email| %>
        <a class="dropdown-item d-flex align-items-center px-2" href="#">
          <div class="dropdown-list-image ">
            <img class="rounded-circle" src="" alt="<%= email.first_name %>">
          </div>
          <div class="font-weight-bo ml-3">
            <div class="text-truncate"><%= email.message %></div>
            <div class="small text-gray-600"><%= email.email %></div>
            <div class="small text-gray-600"><%= email.created_at.strftime('%b %-d at %I:%H %P') %></div>
          </div>
        </a>
      <% end %>
     </div>
  </div>

    <a class="dropdown-item text-center small text-gray-500" href="#">
      Read More Messages
    </a>
  </div>
</li>