<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= root_path %>">
    <div class="sidebar-brand-icon rotate-n-15 text-white-01">
      <i class="fas fa-laugh-wink text-white-01"></i>
    </div>
    <div class="sidebar-brand-text mx-3 text-white-01"> <%= @organization.name %></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="<%= root_path %>">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
    <% array_modules = {
      patient_modules: [
        'patients',
        'billings' ,
        'instant_sessions',
        'tasks',
        'diets',
        'conditions',
        'restricted_ingredient_conditions',
        'appointments',
        'availabilities',
        'entries'
      ],
      company_config: ['discounts', 'products','packages','indicators', 'genders','activity_factors','indicator_types', 'bmr_factors']
    } %>
    <% active_patient_modules = active_link?(includes: array_modules[:patient_modules]) %>
    <%= nav_context :patient_modules, 'Patient modules', icon: 'cog' , active_link: (active_patient_modules && device == 'mobile') do %>
      <h6 class="collapse-header">Patient modules:</h6>
    <% if current_user.has_role?(:dietitian) %>
      <%= active_link_to 'Instant Session', instant_sessions_path, class: 'collapse-item' %>
      <%= active_link_to 'Patients', patients_path, class: 'collapse-item' %>
      <%= active_link_to 'Billings', billings_path, class: 'collapse-item' %>
      <%= active_link_to 'Tasks', tasks_path, class: 'collapse-item' %>
      <%= active_link_to 'Diets', diets_path, class: 'collapse-item' %>
      <%= active_link_to 'Conditions', conditions_path, class: 'collapse-item' %>
      <%= active_link_to 'Restricted Ingredientes', restricted_ingredient_conditions_path, class: 'collapse-item' %>
      <%= active_link_to 'Appointment', appointments_path, class: 'collapse-item' %>
      <%= active_link_to 'Availability', availabilities_path, class: 'collapse-item' %>
    <% end %>
      <%= active_link_to 'Entries', entries_path, class: 'collapse-item' %>
  <% end %>

  <% if current_user.has_role?(:dietitian) %>
  <% active_modules = active_link?(includes: array_modules[:company_config]) %>
    <%= nav_context :modules, 'Company Config', icon: 'cog' , active_link: (active_modules && device == 'mobile') do %>
    <h6 class="collapse-header">Admin modules:</h6>
      <%= active_link_to 'Discounts', discounts_path, class: 'collapse-item' %>
      <%= active_link_to 'Products', products_path, class: 'collapse-item' %>
      <%= active_link_to 'Packages', packages_path, class: 'collapse-item' %>
      <%= active_link_to 'Genders', genders_path, class: 'collapse-item' %>
      <%= active_link_to 'Activity factors', activity_factors_path, class: 'collapse-item' %>
      <%= active_link_to 'Indicator Types', indicator_types_path, class: 'collapse-item' %>
      <%= active_link_to 'Indicators', indicators_path, class: 'collapse-item' %>
      <%= active_link_to 'Bmr', bmr_factors_path, class: 'collapse-item' %>
    <% end %>
  <% end %>


  <% if current_user.has_role?(:dietitian) %>
   <li class="nav-item <%= add_active_class(contact_us_path) %> single">
      <a class="nav-link" href="<%= contact_us_path %>">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Emails</span>
      </a>
    </li>

   <li class="nav-item <%= add_active_class(conversations_path) %> single">
      <a class="nav-link" href="<%= conversations_path %>">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Chats</span>
      </a>
    </li>
  <% end %>


  <% if current_user.has_role?(:super_admin) %>
    <% active_context = active_link?(includes: ['buttons', 'cards']) %>
    <%= nav_context :components, 'Components', icon: 'cog', active_link: active_context do %>
      <h6 class="collapse-header">Custom Components:</h6>
      <%= active_link_to 'Buttons', buttons_examples_path, class: 'collapse-item' %>
      <%= active_link_to 'Cards', cards_examples_path, class: 'collapse-item' %>
    <% end %>
  <% end %>

  <% if current_user.has_role?(:super_admin) %>
    <!-- Nav Item - Utilities Collapse Menu -->
    <%= nav_context :utilities, 'Utilities', icon: 'wrench' do %>
      <h6 class="collapse-header">Custom Utilities:</h6>
      <%= active_link_to 'Colors', utilities_color_examples_path, class: 'collapse-item' %>
      <%= active_link_to 'Borders', utilities_border_examples_path, class: 'collapse-item' %>
      <%= active_link_to 'Animations', utilities_animation_examples_path, class: 'collapse-item' %>
      <%= active_link_to 'Other', utilities_other_examples_path, class: 'collapse-item' %>
    <% end %>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <% if current_user.has_role?(:super_admin) %>
    <!-- Heading -->
    <div class="sidebar-heading">
      Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <%= nav_context :pages, 'Pages', icon: 'folder' do %>
      <h6 class="collapse-header">Login Screens:</h6>
      <%= active_link_to "Login", login_examples_path, class: 'collapse-item' %>
      <%= active_link_to "Register", register_examples_path, class: 'collapse-item' %>
      <%= active_link_to "Forgot Password", forgot_password_examples_path, class: 'collapse-item' %>
      <div class="collapse-divider"></div>
      <h6 class="collapse-header">Other Pages:</h6>
      <%= active_link_to "404 Page", page_404_examples_path, class: 'collapse-item' %>
      <%= active_link_to "Blank Page", blank_examples_path, class: 'collapse-item' %>
    <% end %>

    <!-- Nav Item - Charts -->
    <li class="nav-item <%= add_active_class(charts_examples_path) %>">
      <a class="nav-link" href="<%= charts_examples_path %>">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span>
      </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item <%= add_active_class(tables_examples_path) %>">
      <a class="nav-link" href="<%= tables_examples_path %>">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
  <% end %>
  <!-- Divider -->

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
