<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= root_path %>">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3"> <%= @organization.name %></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="<%= root_path %>">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <% active_patient_modules = active_link?(includes: ['patients', 'billings' , 'instant_sessions']) %>
  <%= nav_context :patient_modules, 'Patient modules', icon: 'cog' , active_link: active_patient_modules do %>
    <h6 class="collapse-header">Patient modules:</h6>
    <%= active_link_to 'Patients', patients_path, class: 'collapse-item' %>
    <%= active_link_to 'Instant Session', instant_sessions_path, class: 'collapse-item' %>
    <%= active_link_to 'Billings', billings_path, class: 'collapse-item' %>
  <% end %>

  <% active_modules = active_link?(includes: ['discounts', 'products','packages','indicators', 'genders','activity_factors','indicator_types']) %>
  <%= nav_context :modules, 'Modules', icon: 'cog' , active_link: active_modules do %>
    <h6 class="collapse-header">Admin modules:</h6>
    <%= active_link_to 'Discounts', discounts_path, class: 'collapse-item' %>
    <%= active_link_to 'Products', products_path, class: 'collapse-item' %>
    <%= active_link_to 'Packages', packages_path, class: 'collapse-item' %>
    <% if current_user.has_role?(:dietitian) %>
      <%= active_link_to 'Genders', genders_path, class: 'collapse-item' %>
      <%= active_link_to 'Activity factors', activity_factors_path, class: 'collapse-item' %>
      <%= active_link_to 'Indicators', indicators_path, class: 'collapse-item' %>
      <%= active_link_to 'Indicator Types', indicator_types_path, class: 'collapse-item' %>
    <% end %>
  <% end %>

  <% if current_user.has_role?(:dietitian) %>
    <% active_context = active_link?(includes: ['buttons', 'cards']) %>
    <%= nav_context :components, 'Components', icon: 'cog', active_link: active_context do %>
      <h6 class="collapse-header">Custom Components:</h6>
      <%= active_link_to 'Buttons', buttons_examples_path, class: 'collapse-item' %>
      <%= active_link_to 'Cards', cards_examples_path, class: 'collapse-item' %>
    <% end %>
  <% end %>

  <!-- Nav Item - Utilities Collapse Menu -->
  <%= nav_context :utilities, 'Utilities', icon: 'wrench' do %>
    <h6 class="collapse-header">Custom Utilities:</h6>
    <%= active_link_to 'Colors', utilities_color_examples_path, class: 'collapse-item' %>
    <%= active_link_to 'Borders', utilities_border_examples_path, class: 'collapse-item' %>
    <%= active_link_to 'Animations', utilities_animation_examples_path, class: 'collapse-item' %>
    <%= active_link_to 'Other', utilities_other_examples_path, class: 'collapse-item' %>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <%= nav_context :pages, 'Pages', icon: 'folder' do %>
    <h6 class="collapse-header">Login Screens:</h6>
    <%= active_link_to "Login", login_examples_path, class: 'collapse-item' %>
    <%= active_link_to "Register", register_examples_path, class: 'collapse-item' %>
    <%= active_link_to "Forgot Password", forgot_password_examples_path, class: 'collapse-item' %>
    <div class="collapse-divider"></div>
    <h6 class="collapse-header">Other Pages:</h6>
    <%= active_link_to "404 Page", page_404_examples_path, class: 'collapse-item' %>
    <%= active_link_to "Blank Page", blank_examples_path, class: 'collapse-item' %>
  <% end %>

  <!-- Nav Item - Charts -->
  <li class="nav-item <%= add_active_class(charts_examples_path) %>">
    <a class="nav-link" href="<%= charts_examples_path %>">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span>
    </a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item <%= add_active_class(tables_examples_path) %>">
    <a class="nav-link" href="<%= tables_examples_path %>">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
