<div class="col-md-12 ">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1>Tasks</h1>
    <%= link_to 'New Task', new_task_path , class: "btn btn-primary" %>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Dietitian</th>
          <th>Patient</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task do %>
                <%= task.title %>
              <% end %></td>
            <td><%= task.dietitian.full_name %></td>
            <td><%= task.patient.full_name %></td>
            <td class="text-center">
              <%= link_to task, class: 'mr-3' do %>
                <i class="fa fa-eye c-blue"></i>
              <% end %>

              <%= link_to edit_task_path(task), class: 'mr-3'  do %>
                <i class="fa fa-pen c-green"></i>
              <% end %>

              <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash c-red"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

