<div class="card col-12 col-sm-6" id="left-card">
  <div class="card-header bg-transparent">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#about" data-toggle="tab">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#patient_condition" data-toggle="tab">Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#login_data" data-toggle="tab">Login Data</a>
      </li>
    </ul>
  </div>

  <div class="card-body tab-content">
    <div class="tab-pane active" id="about">
      <div class="row">
        <div class="col-12 pl-0">
          <%= link_to '[Edit]', edit_patient_path(patient), class: "nav-link pl-0" %>
        </div>
      </div>
      <div class="row">
        <div class="col-6 p-0">
          <div class="list-unstyled">
            <% if patient.sessions.first.present? %>
              <p class="mb-2 text-left">Ideal Weight:</p>
            <% end %>
            <p class="mb-2 text-left">Nombre:</p>
            <p class="mb-2 text-left">Apellido:</p>
            <p class="mb-2 text-left">Edad:</p>
            <p class="mb-2 text-left">Genero:</p>
            <p class="mb-2 text-left">BMR Factor:</p>
            <p class="mb-2 text-left">Ultima Session:</p>
            <p class="mb-2 text-left diagonis_imc"> IMC </p>
            <p class="mb-2 text-left diagonis_pdc"> Cinctura </p>
            <p class="mb-2 text-left diagonis_icc"> ICC </p>
          </div>
        </div>
        <div class="col-6 p-0">
          <div class="list-unstyled">
            <% if patient.sessions.first.present? %>
              <p class="mb-2 "><%= patient.sessions.count > 0 ? patient.sessions.first&.ideal_weight || '-' : '-' %></p>
            <% end %>
            <p class="mb-2 "><%= patient.first_name %></p>
            <p class="mb-2 "><%= patient.last_name %></p>
            <p class="mb-2 "><%= patient.age %></p>
            <p class="mb-2 "><%= patient.gender.name %></p>
            <p class="mb-2 "><%= patient.bmr_factor&.name || '-' %></p>
            <p class="mb-2 ">
              <% if (session) %>
                <%= link_to session&.date, patient_patient_package_session_show_path(patient, session.patient_package, session) %>
              <% else %>
                -
              <% end %>
            </p>
            <p class="mb-2 diagonis_imc"><%= session&.imc || '-' %></p>
            <p class="mb-2 diagonis_pdc"><%= session&.waist || '-' %> </p>
            <p class="mb-2 diagonis_icc"><%= @icc || '-' %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id='patient_condition'>
      <%= render 'patient_conditions',
          key: 1,
          patient: patient %>
    </div>

    <div class="tab-pane" id='login_data'>
      <div class="row">
        <div class="col-4 p-0">
          <div class="list-unstyled">
            <p class="mb-2 text-left">Email:</p>
            <p class="mb-2 text-left">Username:</p>
            <p class="mb-2 text-left">Password:</p>
          </div>
        </div>
        <div class="col-8 p-0">
          <div class="list-unstyled">
            <p class="mb-2 "><%= patient.email %></p>
            <p class="mb-2 "><%= patient.username %></p>
            <p class="mb-2 "> tunutrivida </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>