<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary text-center">Session</h6>
  </div>
  <div class="card-body p-0">
    	<table class="table table-borderless mb-0">
			  <tbody>
			    <tr>
			     	<th scope="col">Body grease</th>
			      <td scope="row"><strong>%</strong> <%= instant_session&.body_grease || nil %></td>
			    </tr>

			    <tr>
			    	<th scope="col">height</th>
			      <td scope="row"><%= instant_session&.height %> <strong>Mts</strong></td>
			     	<th scope="col">Visceral grease</th>
			      <td scope="row"><strong>%</strong> <%= instant_session.visceral_grease %></td>
			    </tr>

			    <tr>
			     	<th scope="col">Weight</th>
			      <td scope="row"><%= instant_session.weight %> <strong>Kg</strong></td>
			     	<th scope="col">Muscle mass</th>
			      <td scope="row"><%= instant_session.muscle_mass %> <strong>Kg</strong></td>
			    </tr>
			    <tr>
			     	<th scope="col">IMC</th>
			      <td scope="row"><%= instant_session.imc %></td>
			      <th scope="col">Bone mass</th>
			      <td scope="row"><%= instant_session.bone_mass %> <strong>Kg</strong></td>
			    </tr>

			     <tr>
			     	<th scope="col">Waist</th>
			      <td scope="row"><%= instant_session.waist %> <strong>cm</strong></td>		
			      <th scope="col">Bmr</th>
			      <td scope="row"><%= (instant_session&.bmr || 0 ) * instant_session.activity_factor.value %> <strong>Kca</strong></td>
			    </tr>

			    <tr>
			     	<th scope="col">Hip</th>
			      <td scope="row"><%= instant_session.hip %> <strong>cm</strong></td>
			      <th scope="col">Metabolic Age</th>
			      <td scope="row"><%= instant_session.metabolic_age %></td>
			    </tr>

			    <tr>
			    	<th scope="col">ICC</th>
			      <td scope="row"><%= ((instant_session&.waist || 0) / (instant_session&.hip || 1)).round(2) %></td>
			      <th scope="col">Water</th>
			      <td scope="row"><strong>%</strong> <%= instant_session.water_percentage %></td>
			    </tr>

			    <tr>
			    	<th scope="col">High Abdomen</th>
			      <td scope="row"><%= instant_session.high_abdomen %> <strong>cm</strong></td>
			      <th scope="col">Physical complexion</th>
			      <td scope="row"><%= instant_session.physical_complexion %></td>
			    </tr>
			  
			    <tr scope="col">
						<td scope="row" colspan="4">
							<%= link_to t('instant_sessions.edit'), edit_instant_session_path, class: "btn btn-success btn-block" %>
						</td>
			    </tr>

			  </tbody>
			</table>
  </div>
</div>