  <a href="#collapseCardExample_<%= copllapsible_key %>" class="d-block card-header py-2 <%= collapsed ? '' : 'collapsed' %>" data-toggle="collapse" role="button" aria-expanded="<%= collapsed %>" aria-controls="collapseCardExample_<%= copllapsible_key %>">
    <h6 class="m-0 font-weight-bold text-primary text-center <%= classes %>"><%= title || '-' %></h6>
  </a>