<div class="patient-package-view" id="patient-package-view">
  <input type="hidden" id="package_patient_view_patient_id" value="<%= @patient.id %>">
  <input type="hidden" id="package_patient_view_package_id" value="<%= @patient_package.id %>">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <span class="h3 mb-0 text-darsk">Package:<%= @patient_package.patient.first_name %> <%= @patient_package.patient.last_name %> / <%= @patient_package.package.name %></span>
  	<%= link_to t('sessions.back'), patient_path(@patient) %>
  </div>
  
	
  <div class="col-sm-12 col-md-12">
    <%= render 'patient_sessions_chart', key:1, expanded: @patient_package.sessions.count > 0 ? true : false, title: "Patient charting" %>
  </div>

  <div class="col-sm-12 col-md-12">
    <%= render 'patient_sessions', key: 2, expanded: @patient_package.sessions.count > 0 ? false : true, patient: @patient, patient_package: @patient_package, title: "Patient sessions" %>
  </div>
  
  <div class="col-sm-12 col-md-12">
    <%= render 'comparative_table',key: 3, expanded: false, sessions: @patient_package.sessions, title: "Comparative table" %>
  </div>
  

</div>