<div class="patient-package-view" id="patient-package-view">
  <input type="hidden" id="package_patient_view_patient_id" value="<%= @patient.id %>">
  <input type="hidden" id="package_patient_view_package_id" value="<%= @patient_package.id %>">
  <div class="d-sm-flex col-sm-12 col-md-12 align-items-center justify-content-between mb-4">
    <span class="h3 mb-0 text-darsk">[Packages] <%= @patient_package.patient.first_name %> <%= @patient_package.patient.last_name %> > <%= @patient_package.package.name %></span>
  	<%= link_to t('sessions.back'), patient_path(@patient) %>
  </div>

	<div class="col-sm-12 col-md-12">
    <div class="card shadow mb-4">
      <a href="#collapseCardExample_charting_1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample_charting_1">
        <h6 class="m-0 font-weight-bold text-primary">Graficos [IMC]- [WEIGHT - [Body Grease] - [Muscle Mass]</h6>
      </a>
      <div class="collapse" id="collapseCardExample_charting_1">
        <div class="card-body">
          <!-- Graficos IMC - WIEGHT -->
          <div class="d-flex">
              <div class="col-sm-6">
                <%= render 'patient_sessions_chart',
                     key:1,
                     expanded: @patient_package.sessions.count > 0 ? true : false,
                     id: 'imcChart',
                     hide_header: false,
                     title: "patient_packages.imc_charting" %>
              </div>

              <div class="col-sm-6">
                <%= render 'patient_sessions_chart',
                     key:2,
                     expanded: @patient_package.sessions.count > 0 ? true : false,
                     id: 'weightChart',
                     hide_header: false,
                     title: "patient_packages.weight_charting" %>
              </div>
          </div>

          <!-- Graficos MASA CORPORAL - MASA MUSCULAR -->
          <div class="d-flex">
              <div class="col-sm-6">
                <%= render 'patient_sessions_chart',
                     key:3,
                     expanded: @patient_package.sessions.count > 0 ? true : false,
                     id: 'bodyGreaseChart',
                     hide_header: false,
                     title: "patient_packages.body_grease" %>
              </div>

              <div class="col-sm-6">
                <%= render 'patient_sessions_chart',
                     key:4,
                     expanded: @patient_package.sessions.count > 0 ? true : false,
                     id: 'muscleMassChart',
                     hide_header: false,
                     title: "patient_packages.muscle_mass" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12">
    <%= render 'patient_sessions',
         key: 5,
         expanded: @patient_package.sessions.count > 0 ? true : false,
         patient: @patient,
         patient_package: @patient_package,
         sessions: @patient_package.sessions.date_desc,
         show_button_new: @show_button_new,
         title: "patient_packages.patient_sessions" %>
  </div>

  <div class="col-sm-12 col-md-12">
    <%= render 'comparative_table',
         key: 6,
         expanded: true,
         sessions: @patient_package.sessions,
         title: "patient_packages.comparative_table" %>
  </div>
</div>

<script type="text/javascript">
  function load_imc_chart_bar() {
    console.log('load_imc_chart_bar');
    let patient_id = $("#package_patient_view_patient_id").val();
    let patient_package_id = $("#package_patient_view_package_id").val();

    if (patient_id && patient_id != '' && patient_package_id && patient_package_id != '' ) {
      let url = `/patients/${patient_id}/packages/${patient_package_id}/sessions/sessionsjson`;
      $("#patient_graph_bar").removeClass('d-none');

      // Call function chart,
        // xValues,
        // yValues,
        // elementDiv,
        // minYvalue = 5,
        // maxYValue = 10,
        // maxXTicks = 6,
        // simbol = '$ '
      $.ajax({
        url: url,
        tyle : 'get',
        dataType : 'json',
        success: function(data) {
          imc_values = data.imc.values.map(e => parseFloat(e))
          min_i = Math.min(...imc_values)
          min_imc = parseInt(min_i > 14 ? 10 : min_i)
          max_imc = Math.max(...imc_values)
          setAreaChart(
            data.days,
            imc_values,
            'imcChart',
            min_imc,
            max_imc,
            6,
            'Imc'
          );

          weight_values = data.weight.values.map(e => parseFloat(e))
          min_w = Math.min(...weight_values)
          min_weight = parseInt(min_w > 25 ? 25 : min_w)
          max_weight =  Math.max(...weight_values)
          console.log('weight_values', weight_values)
          console.log('min_weight', min_weight)
          setAreaChart(
            data.days,
            weight_values,
            'weightChart',
            min_weight,
            max_weight,
            6,
            'Weight'
          );

          setAreaChart(
            data.days,
            data.body_grease.values,
            'bodyGreaseChart',
            5,
            Math.max(...data.body_grease.values.map(e => parseFloat(e))),
            6,
            'Body Grease'
          );

          setAreaChart(
            data.days,
            data.muscle_mass.values,
            'muscleMassChart',
            5,
            Math.max(...data.muscle_mass.values.map(e => parseFloat(e))),
            6,
            'Muscle Mass'
          );
        },
        error: function(e) {
            console.log('failure');
            console.log(e);
        }
      });
    }
  }

  load_imc_chart_bar();
</script>