<div class="row col-md-12">
<%= simple_form_for(@patient) do |f| %>
	<%= f.error_notification %>
	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

	<div class="card ">
		<div class="card-header" style="background: transparent;">
				<h4 class="card-title"><%= t(title) %></h4>
		</div>
		<div class="card-body ">
				<div class="row">
					<label class="col-sm-2 col-form-label"><%= t('.first_name')%></label>
					<div class="col-sm-7">
							<div class="form-group">
							<%= f.input :first_name, label: false, input_html: { class: "form-control" } %>
							</div>
					</div>
				</div>
				<div class="row">
					<label class="col-sm-2 col-form-label"><%= t('.last_name') %></label>
					<div class="col-sm-7">
							<div class="form-group">
								<%= f.input :last_name, label: false, input_html: { class: "form-control" } %>
							</div>
					</div>
				</div>

			<div class="row">
					<label class="col-sm-2 col-form-label"><%= t('.date_of_birth') %></label>
					<div class="col-sm-7">
						<div class="select-date-wrapper">
							<%= f.date_select(:date_of_birth,
										options = { start_year: DateTime.now.year - 18, end_year: DateTime.now.year - 75, order: [ :day, :month, :year], include_blank: true},
										html_options = { class: 'select-date form-control'})%>
						</div>
					</div>
			</div>

			<div class="row">
				<label class="col-sm-2 col-form-label">Gender</label>
				<div class="col-sm-7">
						<%= f.input :gender_id, collection: @genders, label: false, value_method: :id, name: "Gender", include_blank: false, selected: @patient&.gender&.id, input_html: { class: "form-control"} %>
				</div>
			</div>

		</div>
		<div class="card-footer text-center" style="background: transparent;">
				<%= f.button :submit , class: "btn btn-primary" %>
				<% if editing %>
					<%= link_to t('patients.back'), @patient%>
				<% else %>
					<%= link_to t('patients.back'), patients_path %>
				<% end %>
		</div>
	</div>
<% end %>
</div>



