<div class="d-sm-flex col-sm-12 col-md-12 align-items-center justify-content-between mb-4">
  <h1><%= t(title) %></h1>
  <%= link_to t('patients.new_patient'), new_patient_path , class: "btn btn-primary" %>
</div>

<div class="d-sm-flex justify-content-between align-items-center mb-2">
  <div style="flex-grow: 1;">
    <input type="text" id="searcher" placeholder="Search patient">
  </div>
  <div style="flex-grow: 1;">
    <%= render 'paginations/pagination', objectData: patients %>
  </div>
  <div style="flex-grow: 1;">
    
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Date of bird</th>
      <th>Gender</th>
      <th>Packages-Sessions</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% patients.each do |patient| %>
      <tr>
        <td><%= link_to patient do %>
            <%= patient.first_name %>
          <% end %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.date_of_bird %></td>
        <td><%= patient.gender.name %></td>
        <td><%= patient.sessions.count %></td>
        <td>
          <%= link_to patient do %>
            <i class="fa fa-eye c-blue"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_patient_path(patient) do %>
            <i class="fa fa-pen c-green"></i>
          <% end %>
        </td>
        <td >
          <%= link_to patient, method: :delete, data: { confirm: t('patients.are_you_sure') } do %>
            <i class="fa fa-trash c-red"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-sm-flex justify-content-center">
  <%= render 'paginations/pagination', objectData: patients %>
</div>
<br>
