
<h1>Patients</h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Date of bird</th>
      <th>Gender</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.date_of_bird %></td>
        <td><%= patient.gender_id %></td>
        <td><%= link_to t('patients.show'), patient %></td>
        <td><%= link_to t('patients.edit'), edit_patient_path(patient) %></td>
        <td ><%= link_to t('patients.delete'), patient, method: :delete, data: { confirm: t('patients.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('patients.new_patient'), new_patient_path , class: "btn btn-primary" %>