<div class="patient-view">

  <div class="d-sm-flex col-sm-12 col-md-12 align-items-center justify-content-between mb-4">
    <span class="h3 mb-0 text-darsk"><%= @patient.first_name %> <%= @patient.last_name %> > </span>
     <%= link_to t('patient.back'), patients_path %>
  </div>

  <div class="col-sm-12 col-md-12">
    <div class="card shadow mb-4">
      <div class="card-body p-0">
        	<table class="table table-borderless mb-0">
					  <tbody>
              <% if @patient.sessions.first %>
                <tr>
                  <th class="pr-0" width="120px">Ideal Weight</th>
                  <td class="pr-0" width="120px"><%= @patient.sessions.count > 0 ? @patient.sessions.first.ideal_weight : '' %></td>
                </tr>
              <% end %>
					     <tr>
					     	<th>Date of birth</th>
					      <td scope="row"><%= @patient.date_of_bird %></td>
					    </tr>
					    <tr>
					     	<th>Gender</th>
					      <td scope="row"><%= @patient.gender.name %></td>
					    </tr>
					  </tbody>
					</table>
      </div>
      <div class="actions px-2 py-2 d-flex justify-content-end">
  			<%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-success mx-0' %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12">
    <%= render 'patient_packages',
                key: 2,
                expanded: true,
                patient: @patient,
                patient_packages: @patient.patient_packages.order_status,
                title: "Packages" %>
  </div>
</div>

