<div class="patient-view">

  <div class="d-sm-flex col-sm-12 col-md-12 align-items-center justify-content-between mb-4">
    <span class="h3 mb-0 text-darsk">[Patient Info]</span>
     <%= link_to t('patient.back'), patients_path %>
  </div>

  <div class="col-sm-12 d-flex mb-4">
    <div class="card col-sm-4" id="left-card">
      <div class="card-header bg-transparent">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#about" data-toggle="tab">Info</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content">
        <div class="tab-pane active" id="about">
          <div class="row">
            <div class="col-md-5 p-0">
              <div class="list-unstyled">
                <% if @patient.sessions.first %>
                  <p class="mb-2 text-left">Ideal Weight:</p>
                <% end %>
                <p class="mb-2 text-left">Nombre:</p>
                <p class="mb-2 text-left">Apellido:</p>
                <p class="mb-2 text-left">Edad:</p>
                <p class="mb-2 text-left">Genero:</p>
                <p class="mb-2 text-left">Ultima Session:</p>
                <p class="mb-2 text-left diagonis_imc"> IMC </p>
                <p class="mb-2 text-left diagonis_pdc"> Cinctura </p>
                <p class="mb-2 text-left diagonis_icc"> ICC </p>
              </div>
            </div>
            <div class="col-md-7 p-0">
              <div class="list-unstyled">
                <% if @patient.sessions.first %>
                  <p class="mb-2 "><%= @patient.sessions.count > 0 ? @patient.sessions.first.ideal_weight : '' %></p>
                <% end %>
                <p class="mb-2 "><%= @patient.first_name %></p>
                <p class="mb-2 "><%= @patient.last_name %></p>
                <p class="mb-2 "><%= @patient.age %></p>
                <p class="mb-2 "><%= @patient.gender.name %></p>
                <p class="mb-2 "><%= @session&.date || '-' %></p>
                <p class="mb-2 diagonis_imc"><%= @session&.imc || '-' %></p>
                <p class="mb-2 diagonis_pdc"><%= @session&.waist || '-' %> </p>
                <p class="mb-2 diagonis_icc"><%= @icc || '-' %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-8" id="right-card">
      <div class="card-header bg-transparent">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#imc" role="tab" aria-controls="imc" aria-selected="true" data-toggle="tab">IMC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pdc" role="tab" aria-controls="pdc" data-toggle="tab">PDC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#icc" role="tab" aria-controls="icc" data-toggle="tab">ICC</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content">
        <!-- IMC -->
        <div id="imc" class="tab-pane active" role="tabpanel">
          <div class="col-sm-12">
            <%= render 'sessions/diagnoses_partial',
              indicators: @indicatorsImc,
              diagnosis: @diagnosisImc,
              title: "IMC" %>
          </div>
        </div>
        
        <!-- ICC -->
        <div id="icc" class="tab-pane" role="tabpanel">
          <div class="col-sm-12">
            <%= render 'sessions/diagnoses_partial',
              indicators: @indicatorsIcc,
              diagnosis: @diagnosisIcc,
              title: "ICC" %>
          </div>
        </div>
        
        <!-- PDC -->
        <div id="pdc" class="tab-pane" role="tabpanel">
          <div class="col-sm-12">
            <%= render 'sessions/diagnoses_partial',
              indicators: @indicatorsDpc,
              diagnosis: @diagnosisDpc,
              title: "PDC" %>
          </div>
        </div>
        
      </div>
   </div>
  </div>


  <div class="col-sm-12 col-md-12 d-none">
    <div class="card shadow mb-4">
      <div class="card-body p-0">
        	<table class="table table-borderless mb-0">
					  <tbody>
              <% if @patient.sessions.first %>
                <tr>
                  <th class="pr-0" width="120px">Ideal Weight</th>
                  <td class="pr-0" width="120px"><%= @patient.sessions.count > 0 ? @patient.sessions.first.ideal_weight : '' %></td>
                </tr>
              <% end %>
					     <tr>
					     	<th>Date of birth</th>
					      <td scope="row"><%= @patient.date_of_bird %></td>
					    </tr>
					    <tr>
					     	<th>Gender</th>
					      <td scope="row"><%= @patient.gender.name %></td>
					    </tr>
					  </tbody>
					</table>
      </div>
      <div class="actions px-2 py-2 d-flex justify-content-end">
  			<%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-success mx-0' %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12">
    <%= render 'patient_packages',
                key: 2,
                expanded: true,
                patient: @patient,
                patient_packages: @patient.patient_packages.order_status,
                title: "Packages" %>
  </div>
</div>

