<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.input :username, required: false, autofocus: true,
                          input_html: { autocomplete: "username", class: "form-control form-control-user"} %>
            </div>

            <div class="form-group">
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" , class: "form-control form-control-user" } %>
            </div>

            <div class="form-group">
              <div class="custom-control custom-checkbox small">
                <%= f.input :remember_me,
                     input_html: { class: "custom-control-input" },
                     as: :boolean if devise_mapping.rememberable? %>
                <!-- <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">Remember Me</label> -->
              </div>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "btn btn-primary btn-user btn-block" %>
            </div>
          <% end %>

          <hr>
          <%= render "dietitians/shared/links" %>
      </div>
    </div>
</div>
