<% if billing_items.present? %>
  <div class="table-responsive">
    <table class="table table-bordered" width="v100%" cellspacing="0">
      <thead>
        <tr>
          <th>Type</th>
          <th><%= t('billings.description') %></th>
          <th class="text-center"><%= t('billings.amount') %></th>
           <th class="text-center"><%= t('billings.quantity') %></th>
           <th class="text-center"><%= t('billings.target_conversion') %></th>
          <th class="text-center">Total</th>
          <th class="text-center">...</th>
        </tr>
      </thead>

      <tbody id='billing_items_table_body'>
        <% billing_items.each do |item| %>
        <tr>
          <td><%= item.item_type %></td>
          <td><%= item.description %></td>
          <td class="text-center">
            <%= item.show_correct_mount_text %>
          </td>
          <td class="text-center"><%= item.quantity %></td>
          <td class="text-center"><%= item.target_conversion %></td>
          <td class="text-center">
            <%= item.show_correct_total_text %>
          </td>
          <td class="text-center">
            <%= link_to t('billing_items.delete'), billing_items_destroy_path(billing, item), method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy_item", :remote => true %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>