<h1>Billings</h1>
<div class="w-100 text-right mb-4">
  <%= link_to t('billings.new_billing'), new_billing_path , class: "btn btn-primary" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Total</th>
      <th>Sub Total</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @billings.each do |billing| %>
      <tr>
        <td><%= billing.total %></td>
        <td><%= billing.sub_total %></td>
        <td><%= link_to t('billings.show'), billing %></td>
        <td><%= link_to t('billings.edit'), edit_billing_path(billing) %></td>
        <td><%= link_to t('billings.delete'), billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


