<h1><%= t("billings.new_billing") %></h1>
<div class="row w-40 m-auto">

  <%= simple_form_for(@billing, url: billings_path(@billing)) do |f| %>
    <%= notice %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-group">
      <%= f.input :patient_id, collection: @patients, label_method: :full_name, value_method: :id, name: "Patient", include_blank: false, selected: {}, input_html: { class: "form-control select2"} %>
    </div>


    <div class="form-group">
      <%= f.input :description, label: t('.description'), input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="billing_tye">Billing Type</label>
      <%= f.select(:billing_type, options_for_select(Billing::BILLING_ITEMS.map {|k, v| [k.to_s.humanize.capitalize, v]}, :selected => ['Type'] ), {}, {:required => true ,:class => 'form-control'}) %>
    </div>

    <div class="d-flex justify-content-center align-items-center form-group">
      <%= f.button :submit, t(".create_billing"), class: "btn btn-primary" %>
      <%= link_to t('billings.back'), billings_path %>
    </div>

  <% end %>
</div>