<div class="billing-view">
  <div class="d-sm-flex   col-sm-12 col-md-12 align-items-center justify-content-between mb-4">
    <span class="h3 mb-0 text-darsk">[Billing info]</span>
     <%= link_to t('billings.back'), billings_path(@billing) %>
  </div>

  <div class="col-sm-12 col-md-12 mb-4">
    <div class="card col-sm-12">
      <div class="card-header bg-transparent">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#about" data-toggle="tab">Info</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content">
        <div class="tab-pane active" id="about">
          <div class="row">
            <div class="col-md-2 p-0">
              <div class="list-unstyled">
                <p class="mb-2 text-left">Code:</p>
                <p class="mb-2 text-left">Patient:</p>
                <p class="mb-2 text-left">Description:</p>
                <p class="mb-2 text-left">Pending Total:</p>
                <p class="mb-2 text-left">Processed Total:</p>
              </div>
            </div>
            <div class="col-md-10 p-0">
              <div class="list-unstyled">
               
                <p class="mb-2 "><%= @billing.code %></p>
                <p class="mb-2 "><%= "#{@patient.first_name} #{@patient.last_name}" %></p>
                <p class="mb-2 "><%= @billing.description %></p>

                <p class="mb-2 ">
                  <span id='billing_pending_total_display'>
                  <%= "#{@gbl_configuration.currency_code} #{@billing&.billing_items.inprocess.sum(:total).to_f}" || 0 %> |
                  <%= "#{@billing.target_currency_code} #{@billing&.billing_items.inprocess.sum(:total_conversion).to_f}" || 0 %>
                </span>
                </p>
                <p class="mb-2 ">
                  <span id='billing_total_display'>
                    <%= "#{@gbl_configuration.currency_code} #{@billing&.billing_items.processed.sum(:total).to_f}" || 0 %> |
                    <%= "#{@billing.target_currency_code} #{@billing&.billing_items.processed.sum(:total_conversion).to_f}" || 0 %>
                  </span>
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%= hidden_field_tag(:billing_id, @billing.id) %>
  <%= hidden_field_tag(:current_user_id, current_user.id) %>
  <div class="col-sm-12 col-md-12" id="billing_items_partial">
    <%= render 'billing_items',
         key: 2,
         expanded: true,
         billing: @billing,
         patient_packages: @patient_packages,
         billing_items: @billing.billing_items.inprocess,
         products: @products,
         discounts: @discounts,
         title: "Pending to pay" %>
  </div>

  <div class="col-sm-12 col-md-12" id="paid_items_partial">
    <%= render 'paid_items',
         key: 3,
         expanded: false,
         payments: @billing.payments,
         title: "Paid Items" %>
  </div>
</div>

<script>
  //******************
  //* Hide field on event change
  //*
  function hide_all_inputs() {
    const elements = $('#billing_item_form_id .to-hide').toArray();
    elements.map(e => {
      $(e).css("display", "none");
    })
  }

  //******************
  //* Event Onchange item type
  //*
  $(document).on('change','#billing_item_item_type',function(e){
    const type = e.target.value
    hide_all_inputs();

    if (type)
    {
      const act = $(`#billing_item_form_id .${type}`)[0].parentNode
      const desc = $(`#billing_item_description`)[0].parentNode
      $(act).css("display", "unset");
      $(desc).css("display", "unset");

      const qty = $('#billing_item_quantity');
      if (type == 'product') {
        $(qty[0].parentNode).css("display", "unset");
      } else {
        $(qty[0].parentNode).css("display", "none");
      }
    }
  });
  
  //******************
  //* Create billing item
  //*
  function add_billing_item() {
      var dataToSubmit = $("#billing_item_form_id").serialize();
      // console.log('dataToSubmit', dataToSubmit);
      // document.getElementById('billing_item_form_id').submit();
      $.ajax({
        url: $("#billing_item_form_id").attr('action'),
        type: "POST",
        data: dataToSubmit,
        // contentType: "application/json; charset=utf-8",
        dataType: "script",
        success: function(data) {
          
        },
        error: function(err) {
          console.log('err', err);
        }
      })
  }

  //******************
  //* Create payment
  //*
  function add_paid_item() {
    const checkboxes = $("input[class='checkbox_item_ids']:checked").toArray();
    const item_ids = []
    const billing_id = $("#billing_id")[0].value;
    const current_user_id = $("#current_user_id")[0].value;
    checkboxes.map(e => item_ids.push({billing_id, billing_item_id: e.value}));

    if (item_ids.length < 1) {
       toastr.error('Must select a leats one item');
       return;
    }
    const billing_data = {
      payment: {
        billing_id,
        item_ids,
        current_user_id
      }
    };
    const url = `/billings/${billing_id}/paid_items/create`
    $.ajax({
      url: url,
      type: "POST",
      data: JSON.stringify(billing_data),
      contentType: "application/json;",
      dataType: "script",
      success: function(data) {
      },
      error: function(err) {
        console.log('err', err);
      }
    })
  };

  //******************
  //* Destroy payment item
  //*
  function destroy_paid_item(el, id) {
    const billing_id = $("#billing_id")[0].value;
    if (billing_id && id) {
      const url = `/billings/${billing_id}/payments/payment_items/${id}`
      const resp = window.confirm('Are you sure?');

      if (!resp) return;

      $.ajax({
        url: url,
        type: "DELETE",
        // contentType: "application/json; charset=utf-8",
        dataType: "script",
        success: function(data) {
          // $(el).closest('tr').remove();
        },
        error: function(err) {
          console.log('err', err);
        }
      })
    }
  }

  function add_tr_to_billing_list () {
    // billing_items_table_body
  }
</script>

