<div class="row w-40 m-auto">
  <%= simple_form_for(@discount) do |f| %>
    <h1><%= t(title) %></h1>

    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-group">
      <%= f.input :name, label: t('.name'), input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.input :description, label: t('.description'), input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="discount_type">Type</label>
      <% if @discount.new_record? %>
        <%= f.select(:discount_type, options_for_select(Discount::DiscountTypes.map {|k| [k.to_s.humanize, k]}, :selected => nil ), {}, {:required => true ,:class => 'form-control'}) %>
      <% else %>
        <%= f.select(:discount_type, options_for_select(Discount::DiscountTypes.map {|k| [k.to_s.humanize, k]}, :selected => @discount.discount_type ), {}, {:required => true ,:class => 'form-control'}) %>
      <% end %>

    </div>

    <div class="form-group">
      <%= f.input :amount, label: t('.amount'), input_html: { class: "form-control" } %>
    </div>




    <div class="form-actions">
      <%= f.button :submit, t(action_button), class: "btn btn-primary" %>
      <%= link_to t('discounts.back'), discounts_path %>
    </div>
  <% end %>
</div>