<div class="card shadow mb-4">
  <a href="#collapseCardExample_<%= key %>" class="d-block card-header py-2 <%= expanded ? '' : 'collapsed' %>" data-toggle="collapse" role="button" aria-expanded="<%= expanded %>" aria-controls="collapseCardExample_<%= key %>">
    <h6 class="m-0 font-weight-bold text-primary"><%= title %></h6>
  </a>
  <div class="collapse <%= expanded ? 'show' : '' %>" id="collapseCardExample_<%= key %>">

    <% if diet_meal_weeks.present? %>
      <div class="card-body p-2" style="overflow-x: scroll; white-space: nowrap;">
        <div class="grid-container" style="width: 900px;">
            <div style="grid-template-columns: 200px 200px 200px 200px 200px 200px 200px; grid-template-rows: 45px; display: grid; column-gap: 4px;">
              <% diet_meal_weeks.each do |dmw| %>
                <div class=" text-center border pt-2">
                  <strong><%= t(dmw.day_of_week) %></strong>
                </div>
              <% end %>
            </div>
            <div style="grid-template-columns: 200px 200px 200px 200px 200px 200px 200px; column-gap: 4px; row-gap: 15px;display: grid;">
              <% diet_meal_weeks.each do |dmw| %>
                  <% dmw.diet_meal_times.each do |dmt| %>
                    <div class="border" style="white-space: normal;" >
                      <strong class="text-center"><%= t(dmt.meal_time) %>:</strong>
                      <% dmt.diet_ingredients.each do |di| %>
                        <div class="ml-0"><%= di.ingredient.name %></div>
                        <small class="ml-1" style="color: gray"><%= di.instructions %></small>
                      <% end %>
                    </div>
                  <% end %>
              <% end %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>