<h1>Products</h1>
<div class="w-100 text-right mb-4">
  <%= link_to t('products.new_product'), new_product_path , class: "btn btn-primary" %>
</div>

<div class="d-sm-flex justify-content-center">
  <%= render 'paginations/pagination', objectData: @products %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Code</th>
      <th>Price</th>
      <th>New Price</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.code %></td>
        <td><%= product.price %></td>
        <td><%= product.new_price %></td>
        <td><%= link_to t('products.show'), product %></td>
        <td><%= link_to t('products.edit'), edit_product_path(product) %></td>
        <td><%= link_to t('products.delete'), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-sm-flex justify-content-center">
  <%= render 'paginations/pagination', objectData: @products %>
</div>