<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if @prevent_caching %>
      <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
      <meta http-equiv="Pragma" content="no-cache"/>
      <meta http-equiv="Expires" content="0"/>
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
  </head>

  <body id="page-top">
    <main id="wrapper" class="bg-purple-01">
      <aside>
        <%= render "layouts/shared/sidebar" %>
      </aside>

      <section class="d-flex flex-column no-background w-100">
        <header>
          <%= render "layouts/shared/topbar" %>
        </header>
        <section class="container-fluid mt-4 text-dark-purple-200"
          style="height: calc(100vh - 172px); scroll-behavior: smooth; overflow: scroll; overflow-x: hidden;">
          <%= render "layouts/notifications/notification" %>
          <%= yield %>
        </section>

        <footer class="sticky-footer bg-purple-200 text-white-01">
          <%= render "layouts/shared/footer" %>
        </footer>
      </section>
    </main>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <%= render "layouts/shared/logout_modal" %>
  </body>
</html>
